div#footer {
    font-size: 10px;
    font-weight: 100;
}

div#header {
    font-size: 20px;
    font-weight: 100;
    color: azure;
}

*{
    margin: 0;
    padding: 0;
}

div#topBarre {
    background-color: #46484d;
    height: 60px;
    width: 300px;
}

body{
    width: 300px;
    font-family: Montserrat;
    font-style: normal;
    background-color: white;
}

html{
    box-sizing: border-box;
}


.inputBar{
    border-radius: 20px;
}

div#carte{
    margin: 16px;
    background-color: #f8f8f8;
    box-shadow:  0 2px 8px 0 rgba(0, 0, 0, 0.2);
}